@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Gilroy-Light";
    src: url("/fonts/Gilroy-Light/Gilroy-Light.woff2");
}
@font-face {
    font-family: "Gilroy-Regular";
    font-weight: 400;
    src: url("/fonts/Gilroy-Regular/Gilroy-Regular.woff2");
}
@font-face {
    font-family: "Gilroy-Medium";
    src: url("/fonts/Gilroy-Medium/Gilroy-Medium.woff2");
}
@font-face {
    font-family: "Gilroy-Semibold";
    src: url("/fonts/Gilroy-Semibold/Gilroy-Semibold.woff2");
}
@font-face {
    font-family: "Gilroy-Bold";
    src: url("/fonts/Gilroy-Bold/Gilroy-Bold.woff2");
}
@font-face {
    font-family: "Gilroy-Extrabold";
    src: url("/fonts/Gilroy-Extrabold/Gilroy-Extrabold.woff2");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

main {
    @apply flex flex-col container-sm mx-auto;
}

@layer base {
    html {
        /* Insert a most commonly used font properties here */
        @apply font-semibold text-darker-blue bg-white;
    }
}

@layer components {
    .max-container {
        max-width: 1440px;
        margin: 0 auto;
    }

    .input {
        @apply sm:flex-1 max-sm:w-full text-base leading-normal text-light-gray pl-5 max-sm:p-5 outline-none sm:border-none border max-sm:border-light-gray max-sm:rounded-full;
    }

    .btn {
        @apply w-[180px] h-[62px] border-[1.4px] font-semibold text-[17px];
    }

    .btn-form {
        @apply btn w-[133px] h-[46px];
    }

    .btn-primary {
        @apply bg-primary !text-white;
    }

    .btn-white {
        @apply text-primary bg-white;
    }
    /* complete button styles */
    .btn-primary-rounded {
        @apply btn btn-primary rounded-full;
    }

    .btn-form-primary {
        @apply btn-form btn-primary rounded;
    }

    .btn-white-rounded {
        @apply btn btn-white border-stroke-gray rounded-full border-[1.4px];
    }

    .btn-white-reset {
        @apply btn-white-rounded w-[62px] shrink-0 grow flex items-center justify-center;
    }

    .btn-navbar-get-started {
        @apply btn-white-rounded w-[160px] h-[52px];
    }

    /* ================================price plan card styles================================ */
    .card-price {
        @apply font-semibold text-[40px];
    }
    .card-per-month {
        @apply text-base font-semibold text-dark;
    }
    .card-title {
        @apply leading-8 font-semibold text-[30px];
    }
    .card-description {
        @apply text-[16px] leading-7 font-normal font-sans;
    }
    .card-features-text {
        @apply font-semibold text-[16px] text-darker-blue;
    }
    .card-button {
        @apply btn-white rounded-full border-primary border-[3px] w-full h-[60px];
    }
    /* ================================ services section ================================ */
    .services-title {
        @apply text-darker-blue font-semibold text-2xl leading-none;
    }
    /* ================================ most asked question ================================ */
    .questions-question {
        @apply text-white font-bold text-xl tracking-[0.2px];
    }

    .questions-answer {
        @apply text-white font-sans text-lg;
    }
    /* ================================ ================================ */
    /* ================================ ================================ */
    /* ================================ ================================ */
    /* ================================ ================================ */
    /* ================================ ================================ */
}

@layer utilities {
    .flex-center {
        @apply flex items-center justify-center;
    }

    .subheading {
        @apply font-bold text-sm text-primary pb-4 uppercase tracking-[2px];
    }

    .subheading-premium-container {
        @apply font-bold text-sm text-primary bg-primary-transparent px-[15px] py-[7px] uppercase tracking-[1px] rounded-full;
    }

    /* in 1st section of a page */
    .page-main-text {
        @apply font-semibold text-[62px];
    }

    .section-main-text {
        @apply font-semibold text-4xl;
    }

    .article-regular-text {
        @apply text-lg text-dark font-sans font-normal;
    }

    .padding {
        @apply sm:px-16 px-8 sm:py-24 py-12;
    }

    .padding-x {
        @apply sm:px-[120px] px-[23px];
    }

    .padding-y {
        @apply sm:py-24 py-12;
    }

    .padding-l {
        @apply sm:pl-16 pl-8;
    }

    .padding-r {
        @apply sm:pr-16 pr-8;
    }

    .padding-t {
        @apply sm:pt-24 pt-12;
    }

    .padding-b {
        @apply sm:pb-24 pb-12;
    }

    .text-page-active {
        @apply text-darker-blue;
    }

    .container-sm {
        @apply max-w-[1200px];
    }

    .container-md {
        @apply max-w-[1260px];
    }

    .container-lg {
        @apply max-w-[1320px];
    }

    .flex-lg {
        /* hides items when screen-size < lg */
        @apply hidden lg:flex items-center gap-[44px];
    }

    .text-thin {
        @apply text-dark text-base font-medium;
    }
}
